@model AgendamentoOnline.Models.Especialista

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Especialista</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EspecialistaNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EspecialistaNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CRM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CRM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especialidade.EspecialidadeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EspecialistaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
